* {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    padding: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 1px 20px;
}

.logo {
    color: white;
    font-size: large;
    font-weight: 700;
}

nav a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}