/* BASE STYLES */

:root {
  /* Color Palette */
  --color-dark-bg: #230C33;
  --color-light-bg: #ffffff;
  --color-hero-text: #ADB9E3;
  --color-body-text: #5D5D5D;
  --color-accent-primary: #E7BB41;
  --color-accent-cta: #F24236;

  /* Neutrals */
  --color-neutral-light: #E5E7EB;
  --color-neutral-dark: #1F2937;

  /* Text */
  --color-white: #F9FAF8;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-bg);
  color: var(--color-body-text);
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--color-white);
  margin: 0;
}

img {
  max-width: 200px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 60px;
}

/* HEADER */

.header {
  background-color: var(--color-dark-bg);
  padding-top: 20px;
  padding-bottom: 30px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--color-white);
  font-size: large;
  font-weight: 700;
}

nav a {
  color: var(--color-white);
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark-bg);
  color: var(--color-hero-text);
  padding: 40px 0 60px 0;
  gap: 40px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.hero-text h1 {
  margin-bottom: 8px;
}

.hero-text p {
  color: var(--color-hero-text);
  font-size: 16px;
  margin-bottom: 16px;
}

.hero-text button {
  align-self: flex-start;
}

.hero-content {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

/* FEATURES SECTION */

.features {
  background-color: var(--color-light-bg);
  padding: 40px 0px;
}

.features h2 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--color-dark-bg);
}

.feature-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 42px;
}

.card {
  width: 120px;
  text-align: center;
}

.placeholder {
  width: 120px;
  height: 120px;
  border: 3px solid var(--color-accent-primary);
  border-radius: 13px;
  margin-bottom: 12px;
}

.feature-cards p {
  color: var(--color-body-text);
  font-size: 14px;
}

.features .container {
  padding-bottom: 60px;
}

/* QUOTE SECTION */

.quote {
  background-color: var(--color-neutral-light);
  padding: 60px 0px;
  color: var(--color-dark-bg);
}

.quote .by {
  font-weight: bold;
  text-align: right;
  font-size: 18px;
}

.quote .quote-text {
  padding: 0px 100px;
}

.quote blockquote {
  font-size: 26px;
  font-style: italic;
  font-weight: 100;
  color: var(--color-dark-bg);
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}

/* FOOTER */

.footer {
  font-size: 13px;
  background-color: var(--color-dark-bg);
  color: var(--color-neutral-light);
  padding: 15px 0px;
  text-align: center;
}

/* BUTTONS */

button {
  font-weight: 500;
  background-color: var(--color-accent-primary);
  color: var(--color-dark-bg);
  padding: 6px 26px;
  border: 1px solid var(--color-accent-primary);
  border-radius: 6px;
  cursor: pointer;
}

.cta-button {
  background-color: var(--color-accent-cta);
  color: var(--color-white);
  border: 1px solid var(--color-accent-cta);
  cursor: pointer;
}

/* CALL TO ACTION */

.call-to-action {
  color: var(--color-white);
  margin: 60px 0;
}

.cta-content {
  background-color: var(--color-accent-primary);
  border-radius: 6px;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.cta-text p {
  font-size: 14px;
  color: var(--color-neutral-light);
  margin: 0;
}
