* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1f2937;
    padding: 40px 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: large;
    font-weight: 700;
}

nav a {
    color: #F9FAF8;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 40px;
    gap: 40px; 
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  gap: 40px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

img {
    max-width: 400px;
}

